
.selctionType{
  max-width: 100%;
  font-size: 13px;
  /* border-radius: 15px; */
}

.form-group {
  margin: 5px;
}

svg {
  background-color: navy;
}

.chartComponentsContainer {
  display: 'grid';
  grid-template-columns: 'max-content 700px';
  align-items: 'center';
}

.chartWrapper {
  display:'flex' ;
  height: '80vh';
  max-width: '80vw';
  align-items: 'center';
  justify-content: 'center' ;
}
